C 600 0 "A1" 600 0 0 0 60 0 R
L 500 0 600 0 -1 0
C 0 0 "A2" 0 0 0 0 60 0 L
L 100 0 0 0 -1 0
C 500 -250 "G" 500 -250 0 0 60 0 L
L 500 -150 500 -250 -1 0
L 350 100 350 0 -1 0
L 350 0 250 50 -1 0
L 250 50 350 100 -1 0
L 250 -100 250 0 -1 0
L 250 0 350 -50 -1 0
L 350 -50 250 -100 -1 0
L 350 0 350 -100 -1 0
L 250 0 250 100 -1 0
L 350 0 500 0 -1 0
L 250 0 100 0 -1 0
L 350 -50 500 -150 -1 0
A 300 0 180 0 360 74
P "$LOCATION" "?" 550 -130 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

