C 0 0 "GND" 0 0 0 0 60 0 L
X "PIN_TEXT" "GND" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "EN" 0 -100 0 0 60 0 L
X "PIN_TEXT" "EN" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "DIAG_EN" 0 -200 0 0 60 0 L
X "PIN_TEXT" "DIAG_EN" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 0 -300 "FAULT*" 0 -300 0 0 60 0 L
X "PIN_TEXT" "FAULT*" 230 -330 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -300 0 -300 -1 0
C 0 -400 "LATCH" 0 -400 0 0 60 0 L
X "PIN_TEXT" "LATCH" 230 -430 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -400 0 -400 -1 0
C 0 -500 "SNS" 0 -500 0 0 60 0 L
X "PIN_TEXT" "SNS" 230 -530 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -500 0 -500 -1 0
C 0 -600 "ILIM" 0 -600 0 0 60 0 L
X "PIN_TEXT" "ILIM" 230 -630 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -600 0 -600 -1 0
C 700 -1600 "THERMAL_PAD" 700 -1600 0 0 60 0 L
X "PIN_TEXT" "THERMAL_PAD" 730 -1370 90 0.00 60 0 0 0 0 0 1 0 74
L 700 -1400 700 -1600 -1 0
C 1400 0 "VS_3" 1400 0 0 0 60 0 R
X "PIN_TEXT" "VS_3" 1170 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 0 1400 0 -1 0
C 1400 -100 "VS_2" 1400 -100 0 0 60 0 R
X "PIN_TEXT" "VS_2" 1170 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -100 1400 -100 -1 0
C 1400 -200 "VS_1" 1400 -200 0 0 60 0 R
X "PIN_TEXT" "VS_1" 1170 -230 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -200 1400 -200 -1 0
C 1400 -300 "NC" 1400 -300 0 0 60 0 R
X "PIN_TEXT" "NC" 1170 -330 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -300 1400 -300 -1 0
C 1400 -400 "VOUT_3" 1400 -400 0 0 60 0 R
X "PIN_TEXT" "VOUT_3" 1170 -430 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -400 1400 -400 -1 0
C 1400 -500 "VOUT_2" 1400 -500 0 0 60 0 R
X "PIN_TEXT" "VOUT_2" 1170 -530 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -500 1400 -500 -1 0
C 1400 -600 "VOUT_1" 1400 -600 0 0 60 0 R
X "PIN_TEXT" "VOUT_1" 1170 -630 0 0.00 60 0 0 2 0 0 1 0 74
L 1200 -600 1400 -600 -1 0
L 200 100 1200 100 -1 0
L 1200 -1400 1200 100 -1 0
L 1200 -1400 200 -1400 -1 0
L 200 100 200 -1400 -1 0
P "$LOCATION" "?" 1250 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

